body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background: color #222;
    box-sizing:border-box;
}
.banner {
    background-color: #ffff;
    width:300px;
    height:150px;
    border-radius:10px;
    position: relative;
    text-align:center;
}